// http://fonts.googleapis.com/css?family=Fira+Sans

@font-face {
    font-family: 'GE SS Two Medium';
    src: url('GE_SS_Two_Medium_1.eot');
    src: url('GE_SS_Two_Medium_1.eot') format('embedded-opentype'),
         url('GE_SS_Two_Medium_1.woff') format('woff'),
         url('GE_SS_Two_Medium_1.ttf') format('truetype'),
         url('GE_SS_Two_Medium_1.svg#GE_SS_Two_Medium_1') format('svg');
}

@font-face {
    font-family: 'hacen_tunisia_ltregular';
    src: url('hacen_tunisia_lt.eot');
    src: url('hacen_tunisia_lt.eot?#iefix') format('embedded-opentype'),
         url('hacen_tunisia_lt.woff2') format('woff2'),
         url('hacen_tunisia_lt.woff') format('woff'),
         url('hacen_tunisia_lt.ttf') format('truetype'),
         url('hacen_tunisia_lt.svg#hacen_tunisia_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
