.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: #ccc;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);
  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;
  .footer__title {}
  .footer-logo {
    margin-bottom: 2em;
    text-align: center;
    img {
      //height: 3em;
    }
  }
  .footer__content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $base-spacing;
    color: #ccc;
  }
  @include direction-context(right-to-left) {
    ul {
      //flex-basis: 13em;
      //flex-shrink: 0;
      @include span-columns(4);
      margin-bottom: $base-spacing * 2;
      padding: 0;
    }
  }
  li {
    line-height: 1.5em;
    list-style: none;
    text-align: right;
  }
  li a {
    color: $footer-link-color;
    text-decoration: none;
    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
  li h3 {
    color: $footer-color;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: normal;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: transparentize(#fff, .7);
    }
  }
  .footer__contact {
    font-size: 14px;
    > li {
      margin-bottom: 10px;
    }
    .footer__contact__number {
      direction: ltr;
    }
  }
  .footer__tweet {
    h4 {
      font-size: 13px;
      color: #ccc;
      font-weight: normal;
      margin: 0;
      margin-bottom: 16px;
    }
    p {
      color: #ccc;
      text-align: right;
      font-size: 12px;
      margin-bottom: 5px;
    }
    a {
      color: #38bbff;
    }
  }
  .footer__keywords {
    span {
      display: inline-block;
      font-size: 14px;
      color: #ccc;
      padding: 5px 15px;
      margin-bottom: 5px;
      background-color: transparentize(#fff, .9);
      cursor: help;
      transition: .2s ease;
      &:hover {
        background-color: #38bbff;
        color: #fff;
      }
    }
  }
  .footer__social {
    position: relative;
    padding-top: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: transparentize(#fff, .7);
    }
    span {
      color: #ccc;
      font-size: 12px;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    a {
      margin-left: 10px;
    }
    svg {
      height: 22px;
    }
  }
  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }
  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

.footer__contact__newletter,
.menu-pop__contact__newletter {
  position: relative;
  label {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    background-color: transparentize(#fff, .7);
    height: 40px;
    padding-right: 16px;
    @include placeholder {
      color: #ccc;
    }
  }
  button {
    height: 32px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: #55c6ff;
    border: 2px solid #fff;
    transition: .3s ease;
    &:hover {
      background-color: darken(#55c6ff, 20%);
    }
  }
  &:hover {
    button {
      padding: 0 25px;
    }
  }
}