.section-hero__slider {
  .sp-buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .sp-button {
    width: 48px;
    height: 0px;
    margin-bottom: 15px;
    border: 1px solid rgba(247,247,247,.6);
    border-radius: 0%;
    cursor: pointer;
    transition: .5s ease;
    &:hover {
      width: 65px;
      border-color: rgba(247,247,247,.8);
    }
  }

  .sp-selected-button {
    background-color: #e31d3c;
    border-color: #e31d3c;
    width: 85px;
    &:hover {
      width: 75px;
      background-color: #e31d3c;
      border-color: #e31d3c;
    }
  }
}